/* Ensure full height layout for sticky footer */
html,
body {
  height: 100%;
  margin: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1; /* Grow to fill remaining space */
}

footer {
  flex-shrink: 0;
}

.card-content {
  min-height: 140px;
}

.card .card-image img {
  height: 300px;
  object-fit: cover;
}
